html {
    min-height: 100%;
}
body{
    background-image: linear-gradient(lightblue,blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    align-items: center;
    background-color: white;
    height:500px;
    width:500px;
    border-radius: 20px;
    flex-direction: column;
}